---
// This is a server-side component that will run on the server
// You can perform server-side operations here

// Get current system username using Node.js os module
import { userInfo } from "node:os";

interface Props {
  name?: string;
}

// Example of server-side data fetching
const getData = async (props: Props) => {
  // wait 0.1s
  await new Promise((resolve) => setTimeout(resolve, 100));

  return {
    username: userInfo().username,
  };
};

const componentType = Astro.isPrerendered ? "Prerendered" : "Server";
const username = getData(Astro.props).then((data) => data.username);
const timestamp = new Date().toLocaleString();
const { foo } = Astro.locals;
const { name = "undefined" } = Astro.props;
---

<div class="m-4 p-4 rounded-lg border border-gray-200 bg-white shadow-sm">
  <h2 class="text-xl font-semibold mb-2">
    {componentType} Component
  </h2>
  <ul class="list-inside list-disc mb-4 text-sm text-gray-500">
    <li>
      Server username: <!-- pauses rendering here until promise resolves -->{
        username
      }
    </li>
    <li>Generated at: {timestamp}</li>
    <li>Locals: foo = {foo}</li>
    <li>Props: name = {name}</li>
  </ul>
  <p class="text-sm text-gray-500">Done</p>
</div>

<style>
  div {
    transition: transform 0.2s ease-in-out;
  }
  div:hover {
    transform: translate(-2px, -2px);

    &:active {
      transform: translate(2px, 2px);
    }
  }
</style>
