---
import MarkdownLayout from "@/layouts/MarkdownLayout.astro";
---

<MarkdownLayout>
  <h1>Sample pages</h1>
  <ul>
    <li><a href="/samples/generate-stream">Genkit stream as HTML</a></li>
    <li><a href="/samples/markdown">MDX</a></li>
    <li><a href="/samples/server">Server</a></li>
    <li><a href="/samples/react">React components</a></li>
  </ul>

  <h2>APIs</h2>
  <ul>
    <li><a href="/samples/api">Hono Swagger UI</a></li>
    <li>
      <a href="/samples/api/generate-stream">Genkit stream as bytestream</a>
    </li>
  </ul>
</MarkdownLayout>
