---
import MarkdownLayout from "@/layouts/MarkdownLayout.astro";
---

<MarkdownLayout>
  <h1>Welcome to A1 sample app</h1>
  <ul>
    <li><a class="text-blue-500" href="/samples">Samples</a></li>
  </ul>
</MarkdownLayout>
